<footer class="footer">
        <div class="footer-content">
            <p>&copy; 2024 Mohamed's Auto Spa. All rights reserved.</p>
            <p>Built by Zamir | CompSciHigh SE12</p>
        </div>
    </footer>

    <script src="/js/main.js"></script>
</body>
</html>